@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

* {
    font-family: "Source Sans 3", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    box-sizing: border-box;
}

body {
    margin: 0;
    background-image: url("/assets/img/bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

main {
    padding: 50px;
    display: flex;
    justify-content: center;
}

.container {
    width: 100%;
    max-width: 600px;
    background: rgba(255, 255, 255, 0.95);
    border-radius: 20px;
    overflow: hidden;
    position: relative;
}


h1 {
    text-align: center;
    font-size: 28px;
    padding: 20px;
}

h2 {
    text-align: center;
}

h3 {
    text-align: center;
}

.chart-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    justify-content: center;
}

.box {
    width: 80%;
    padding: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.chart {
    width: 90%;
    padding: 15px;
    border-radius: 10px;
}

.chart h2 {
    text-align: center;
    margin-bottom: 20px;
}

.button-container {
    padding: 0 30px 40px;
    text-align: center;
}

button {
    padding: 10px 20px;
    font-size: clamp(0.8rem, 2.5vw, 0.9rem);
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    border: none;
    min-width: 100px;
}

button:hover {
    background-color: #45a049;
}

.confirm {
    background-color: #000;
    color: #fff;
    transition: all 0.3s ease;
}

.confirm:hover {
    background-color: #444;
}
.exit-menu {
    background-color: #fff;
    color: #000;
    border: 2px solid #000;
    transition: all 0.3s ease;
}

.exit-menu:hover {
    background-color: #f0f0f0;
}


@media (max-width: 768px) {
    h1 {
        font-size: 25px;
    }
}

@media (max-width: 576px) {
    .chart {
        width: auto;
    }
}